body {
    background-color: rgb(229, 240, 255);
    font-family:'Times New Roman', Times, serif;
}

.container {
    background-color: rgb(198, 224, 255);
    border: solid 5px;
    border-color: rgb(56, 81, 156);
    width: 80%;
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    padding-left: 100px;
}

.list {
    border: solid 3px;
    border-radius: 10px;
    border-color: rgb(56, 81, 156);
    margin-bottom: 10px;
    background-color: rgb(215, 229, 255);
}

ul {
    list-style-type: none;
}

h1 {
    color: rgb(19, 41, 169);
}
